<h1>TODO list</h1>
<%= link_to 'New ToDo', new_list_path %> 

<% @list.each do |list| %>
  <div>
    
    <h3> <%= link_to list.title, list_path(list)%><h3>
    <i>Author: <%= list.author %></i>
    <%= link_to 'Delete', list_path(list), method: :delete%>
  </div>
<% end %>
